aiohttp >= 3.8.1, < 4
aiohttp_cors==0.7.0
aiopg
azure-identity==1.16.1
azure-storage-blob==12.13.1
click==8.0.3
google-cloud-storage~=2.10.0
metaflow>=2.11.4
packaging
psycopg2
pyee==8.0.1
pygit2==1.12.1
throttler==1.2.0
