name: Docker Image CI

on:
  release:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@818d4b7b91585d195f67373fd9cb0332e31a7175 # v4.6.0
        with:
          images: |
            netflixoss/metaflow_metadata_service
          tags: |
            type=semver,pattern={{raw}}
            type=sha
            type=raw,value=latest
      -
        name: Login to Docker Hub
        uses: docker/login-action@465a07811f14bebb1938fbed4728c6a1ff8901fc # v2.2.0
        with:
          username: ${{ secrets.ORG_NETFLIXOSS_DOCKERHUB_USERNAME }}
          password: ${{ secrets.ORG_NETFLIXOSS_DOCKERHUB_PASSWORD }}
      -
        name: Build and push # We have a single-platform build, so use of setup-buildx-action is currently omitted.
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4.1.1
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
